<ion-header>
  <ion-navbar color="azul">
    <ion-toolbar color="azul">
      <ion-segment [(ngModel)]="AulaSegment">
        <ion-segment-button value="Mensajes">
          Mensajes
        </ion-segment-button>
        <ion-segment-button value="Biblioteca">
          Biblioteca
        </ion-segment-button>
      </ion-segment>
      <ion-buttons end>
        <button (click)="activarSubirArchivo()" ion-button icon-only>
          <ion-icon name="custom-folder-upload"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-navbar>
  </ion-header>
 


<ion-content >
    <ion-fab  *ngIf="perfilUsuario == 'Profesor'" right middle>
        <button ion-fab (click)="cambiarVistaEstadisticas()" mini color="danger"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

    <div [ngSwitch]="AulaSegment">
        <ion-list *ngSwitchCase="'Mensajes'">

            <div>
                <ion-card>
                    <ion-item>
                      <ion-avatar item-start>
                        <img src="../../assets/imgs/ogro.gif">
                      </ion-avatar>
                      <h2>Ogrobot</h2>
                     </ion-item>
                    
                    <ion-card-content>
                      <p>Hola... emmhh, no soy bueno para esta estas cosas... Pero... emmmh oorgh... Este es el chat
                        de tu aula... Solo te pido que hables con respeto... Recuerda que siempre te estoy vigilando... Como muy Ogrobot que soy ♥
                      </p>                
                    </ion-card-content>      
                  </ion-card>
                </div>

          <div>
            <ion-card *ngFor="let mensaje of mensajesRecuperados | async">
                <ion-item>
                  <ion-avatar item-start>
                    <img src="../../assets/imgs/avatar.jpg">
                  </ion-avatar>
                  <h2>{{mensaje.Nombre}}</h2>
                  <p>{{mensaje.Fecha}}</p>
                  <button outline color="secondary" item-end ion-button icon-start><ion-icon name="custom-one-up"></ion-icon>{{mensaje.Nivel}}</button>
                  <button outline color="danger" item-end ion-button icon-start><ion-icon name="custom-sword"></ion-icon>{{mensaje.Ataque}}</button>
                </ion-item>
                
                <ion-card-content>
                  <p>{{mensaje.Mensaje}}</p>                
                </ion-card-content>      
              </ion-card>
            </div>
        </ion-list>
      
        <ion-list *ngSwitchCase="'Biblioteca'">

          
          <div padding *ngIf="subir == true">
              <ion-item>        
                  <ion-label> <ion-icon name="document"></ion-icon>&nbsp;Nombre archivo</ion-label>
                  <ion-input [(ngModel)]="nombreArchivo" clear Input type="text"></ion-input>
                </ion-item>

              <ion-item>        
                  <ion-label> <ion-icon name="list-box"></ion-icon>&nbsp;Descripción</ion-label>
                  <ion-input [(ngModel)]="descripcionArchivo" clear Input type="text"></ion-input>
              </ion-item>

              <ion-item>        
                  <ion-label> <ion-icon name="link"></ion-icon>&nbsp;Link de descarga</ion-label>
                  <ion-input [(ngModel)]="linkArchivo" clear Input type="text"></ion-input>
              </ion-item>

              <ion-item>
                <button ion-button color="azul" block default (click)="subirArchivo()">Subir archivo</button>
              </ion-item>
          </div>
         
          <div *ngIf="subir == false">
            <ion-list>
              <ion-item>
                  <button outline color="secondary" block ion-button large><ion-icon name="custom-slideleft"></ion-icon>Desliza para descargar</button>
              </ion-item>
                <ion-item-sliding *ngFor="let archivo of archivosRecuperados | async">
                  <ion-item text-wrap>
                    <h4>{{archivo.NombreArchivo}}</h4>
                    <p>{{archivo.DescripcionArchivo}}</p>
                    <button outline color="secondary" item-end ion-button icon-start><ion-icon name="custom-slideleft"></ion-icon></button>
                  </ion-item>
                  <ion-item-options side="right">
                    <button outline ion-button color="azul">
                      <ion-icon name="download"></ion-icon>
                      <a href="{{archivo.linkArchivo}}">Descargar</a>
                    </button>
                  </ion-item-options>
                </ion-item-sliding>
              </ion-list>
          </div>
                
        </ion-list>

        <ion-list *ngSwitchCase="'Estadisticas'">
          
                <div *ngFor="let user of usuariosRecuperados | async">
                    <ion-card>
                        <ion-item>
                          <h2>{{user.NombreUsuario}}</h2>
                          <button outline color="secondary" item-end ion-button icon-start><ion-icon name="custom-one-up"></ion-icon>{{user.Nivel}}</button>
                          <button outline color="danger" item-end ion-button icon-start><ion-icon name="custom-sword"></ion-icon>{{user.Ataque}}</button>
                        </ion-item>
                        
                        <ion-card-content>   
                            <button (click)="subirDeNivel(user.IdUsuario, user.Nivel, user.Ataque)" block small outline color="danger" item-end ion-button icon-start><ion-icon name="custom-rocket"></ion-icon>Subir de nivel</button>           
                        </ion-card-content>      
                      </ion-card>
                    </div>
        </ion-list>

    </div>

</ion-content>

<ion-footer>
    <ion-toolbar color="azul">
      <ion-input [(ngModel)]="mensaje" placeholder="Escribir mensaje"></ion-input>
      <ion-buttons end>
        <button (click)="enviarMensaje()" ion-button icon-end color="royal">
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>