ion-icon {
    &[class*="custom-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 1em;
      height: 1em;
    }
  
    &[class*="one-up"] {
      mask-image: url(../assets/icon/one-up.svg);
    }
    &[class*="sword"] {
      mask-image: url(../assets/icon/sword.svg);
    }
    &[class*="custom-spades"] {
      mask-image: url(../assets/spades.svg);
    }
  
  }