ion-icon {
    &[class*="custom-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 1em;
      height: 1em;
    }
  
    &[class*="one-up"] {
      mask-image: url(../assets/icon/one-up.svg);
    }
    &[class*="sword"] {
      mask-image: url(../assets/icon/sword.svg);
    }
    &[class*="shield"] {
      mask-image: url(../assets/icon/shield.svg);
    }
    &[class*="rocket"] {
      mask-image: url(../assets/icon/rocket.svg);
    }
    &[class*="castle"] {
      mask-image: url(../assets/icon/castle.svg);
    }
  
  }