
   
<ion-header>
    <ion-navbar color="azul" no-border-bottom>
      <ion-title>
        Bienvenido {{datosUsuario[1]}}
      </ion-title>
      <ion-buttons end>
          <button menuToggle ion-button icon-only>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>
    
  
    <ion-toolbar color="azul" no-border-top>
      <ion-segment [(ngModel)]="pet">
        <ion-segment-button value="puppies">
          <div>Inicio</div>
        </ion-segment-button>
        <ion-segment-button value="kittens">
          Iniciar seguimiento
        </ion-segment-button>
        <ion-segment-button value="ducklings">
          Buscar
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>


<ion-content padding>
<h6>Iniciar seguimiento nuevo estudiante</h6>
    <ion-list *ngIf="nuevoCurso == false">

        <ion-item>        
            <ion-label> <ion-icon name="person"></ion-icon>&nbsp;Estudiante</ion-label>
            <ion-input clearInput type="text"></ion-input>
        </ion-item>

        <ion-item>        
            <ion-label> <ion-icon name="school"></ion-icon>&nbsp;Curso</ion-label>
            <ion-select [(ngModel)]="cursos">
                <ion-option value="nuevo">Añadir nuevo curso</ion-option>
              </ion-select>
        </ion-item>

        <ion-item end>
            <button (click)="agregarNuevoCurso()" color="azul" small item-end end ion-button icon-start>
                <ion-icon name="school"></ion-icon>
                Añadir curso
            </button>
        </ion-item>

        <ion-item>
            <button block color="azul" small item-end end ion-button icon-start>
                <ion-icon name="person-add"></ion-icon>
                Añadir
            </button> 
        </ion-item>
        
      
      </ion-list>

      <ion-list *ngIf="nuevoCurso == true">

          <ion-item>        
              <ion-label> <ion-icon name="school"></ion-icon>&nbsp;Nombre curso</ion-label>
              <ion-input clearInput type="text"></ion-input>
          </ion-item>
  
          <ion-item end>
              <button color="azul" small item-end end ion-button icon-start>
                  <ion-icon name="school"></ion-icon>
                  Añadir curso
              </button>
          </ion-item>

        </ion-list>
      

<h1>{{email}}</h1> <br>




<ion-fab mini  right bottom>
    <button mini small ion-fab color="dark"><ion-icon name="arrow-dropup"></ion-icon></button>
    <ion-fab-list side="top">
      <button (click)="logOut()" ion-fab><ion-icon name="log-out"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

</ion-content>

